html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: grey;
  color:hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
 
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.25rem;
  color:gray;
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: black;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.btn:hover {
  color: white;
  background: black;
}
.btn-white {
  color:white;
  border-color:white;
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background:white;
  color: aqua;
}
/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* navbar */
nav {
  background: white;
  padding: 1rem 1.5rem;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 1px 2px 10px 0.5px gray;
}
.fixed-nav .links a {
  color: grey;
}
.fixed-nav .links a:hover {
  color: aqua;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: black;
  background: transparent;
  border-color: transparent;
 transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.nav-toggle:hover {
  color:aqua;
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
 transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.show-links {
  height: 200px;
}
.links a {
  background: white;
  color: grey;
  font-size: 1.1rem;
  text-transform: capitalize;
  display: block;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: gray;
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: white;
    font-size: 1.1rem;
    text-transform: capitalize;
    display: block;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: white;
  }
}
/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(./photos/pexels-photo-707915.jpeg) center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1 {
  color: white;
  text-transform: uppercase;
}
.container p {
  color: white;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: aqua;
}
#about,
#services,
#tours {
  height: 80vh;
}
#services {
  background: white;
}
footer {
  background:rgb(18, 61, 94);
  padding: 5rem 1rem;
}
footer p {
  color: white;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .0.25;
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: aqua;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 5px;
  color: white;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
